In [1]:
#TRAIL

In [2]:
import os
import pandas as pd
import numpy as np
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.regularizers import l2
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils.class_weight import compute_class_weight
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the dataset
data_dir = 'D:\DATA SCIENCE\CLOSET APP\DATASET'
images_folder = os.path.join(data_dir, 'images')
styles_path = os.path.join(data_dir, 'styles.csv')

In [4]:

# Read styles.csv for labels
df = pd.read_csv(styles_path, on_bad_lines='skip')

In [5]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [19]:
predicted_data = df["productDisplayName"][0]

In [17]:
predicted_data

0                       Turtle Check Men Navy Blue Shirt
1                     Peter England Men Party Blue Jeans
2                               Titan Women Silver Watch
3          Manchester United Men Solid Black Track Pants
4                                  Puma Men Grey T-shirt
                              ...
44419                          Gas Men Caddy Casual Shoe
44420                 Lotto Men's Soccer Track Flip Flop
44421               Puma Men Graphic Stellar Blue Tshirt
44422                     Rasasi Women Blue Lady Perfume
44423    Fossil Women Pink Dial Chronograph Watch ES3050
Name: productDisplayName, Length: 44424, dtype: object

In [20]:
import pandas as pd

# Sample data
data = {
    'id': [15970, 39386, 59263, 21379, 53759],
    'gender': ['Men', 'Men', 'Women', 'Men', 'Men'],
    'masterCategory': ['Apparel', 'Apparel', 'Accessories', 'Apparel', 'Apparel'],
    'subCategory': ['Topwear', 'Bottomwear', 'Watches', 'Bottomwear', 'Topwear'],
    'articleType': ['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts'],
    'baseColour': ['Navy Blue', 'Blue', 'Silver', 'Black', 'Grey'],
    'season': ['Fall', 'Summer', 'Winter', 'Fall', 'Summer'],
    'year': [2011.0, 2012.0, 2016.0, 2011.0, 2012.0],
    'usage': ['Casual', 'Casual', 'Casual', 'Casual', 'Casual'],
    'productDisplayName': [
        'Turtle Check Men Navy Blue Shirt',
        'Peter England Men Party Blue Jeans',
        'Titan Women Silver Watch',
        'Manchester United Men Solid Black Track Pants',
        'Puma Men Grey T-shirt'
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Function to retrieve multiple features using product display name
def get_features_by_product_display_name(product_display_name):
    # Filter the DataFrame
    result = df[df['productDisplayName'] == product_display_name]
    # Check if any rows are returned
    if not result.empty:
        # Extract and return the required features
        return result[['season', 'gender', 'masterCategory', 'subCategory', 'articleType', 'baseColour', 'usage']].iloc[0].to_dict()
    else:
        return "Product display name not found."

# Example usage
product_display_name = "Peter England Men Party Blue Jeans"
features = get_features_by_product_display_name(product_display_name)
print(f"The features for '{product_display_name}' are: {features}")

The features for 'Peter England Men Party Blue Jeans' are: {'season': 'Summer', 'gender': 'Men', 'masterCategory': 'Apparel', 'subCategory': 'Bottomwear', 'articleType': 'Jeans', 'baseColour': 'Blue', 'usage': 'Casual'}

In [21]:
df["gender"].unique()

array(['Men', 'Women'], dtype=object)

In [22]:
df["season"].unique()

array(['Fall', 'Summer', 'Winter'], dtype=object)

In [23]:
df["masterCategory"].unique()

array(['Apparel', 'Accessories'], dtype=object)

In [24]:
df["subCategory"].unique()

array(['Topwear', 'Bottomwear', 'Watches'], dtype=object)

In [25]:
df["articleType"].unique()

array(['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts'],
      dtype=object)

In [26]:
df["baseColour"].unique()

array(['Navy Blue', 'Blue', 'Silver', 'Black', 'Grey'], dtype=object)

In [27]:
df["usage"].unique()

array(['Casual'], dtype=object)